/* Contenedor del formulario */
.container {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para el título */
h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo para los campos del formulario */
.form-group {
    margin-bottom: 20px;
}

/* Estilo para las etiquetas */
label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

/* Estilo para el textarea */
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    resize: vertical;
    min-height: 120px; /* Establece una altura mínima */
    max-height: 300px; 
}

/* Estilo para el input de archivo */
input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

/* Estilo para los mensajes de error */
.text-danger {
    font-size: 14px;
    color: red;
    margin-top: 5px;
}

/* Estilo para el botón */
button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efecto de hover para el botón */
button:hover {
    background-color: #0056b3;
}

/* Estilo para el botón deshabilitado */
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.content-redes{
    display: flex;
    justify-content: center;
    gap: 20px;
}